.pokemonImageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1;
  border-radius: 8;
  padding: 2;
  width: 100%;
  max-width: 400px;
}

.pokemonImage {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.pokemonEvolutionContainer {
  display: flex;
  column-gap: 20px;
}

.pokemonEvolutionImage {
  width: 100%;
}

.pokemonEvolution {
  :hover {
    cursor: pointer;
  }
}
